.DS_Store

__pycache__

.venv
.logs
.eval/**/*monitor.csv
.eval/**/*.yml
.eval/**/*.zip
.eva*/**/*monitor.csv
.eval1
.eval2
.vscode
.models
.optuna
.optuna-sbx
.optuna-zoo
.optuna-zoo2
.assets/raw_data.csv

Models/sb3_trpo.py
results/results.png

# Latex
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls

.noise