wheel
ipykernel
numpy
matplotlib
torch
pandas
seaborn
mujoco-py
box2d-py
gymnasium
gymnasium[box2d]
gymnasium[classic_control]
gymnasium[mujoco]
gymnasium[other]
stable-baselines3
sb3-contrib
tensorboard
optuna
optuna-integration
sbx-rl
rl_zoo3
jax
jax[cuda12]
plotly==6.0.0rc0
scikit-learn
isort
scipy
git+https://github.com/pre63/black.git