wheel
ipykernel
numpy
matplotlib
torch
torchvision
pandas
seaborn
gymnasium
gymnasium[box2d]
gymnasium[classic_control]
gymnasium[mujoco]
stable-baselines3
sb3-contrib
tensorboard
optuna
optuna-integration